/* barlow-900 - latin serif*/
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src:
    url('../fonts/barlow-v11-latin-900.woff2') format('woff2'),
    url('../fonts/barlow-v11-latin-900.woff') format('woff');
}

/* barlow-regular - latin  sana-serif*/
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src:
    url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v11-latin-regular.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    background: #F2F2F2;
}

img {
    display: inline-block;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    background: #FEFCF7;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
}
.header--location {
    justify-content: space-between;
    padding: 44px 0;
}
.sitenav__list {
    margin: 0;
    list-style: none;
    display: flex;
}
.sitenav__item + .sitenav__item {
    margin-left: 33px;
}

.sitenav__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
    cursor: pointer;
}
.sitenav__link:before {
    opacity: 0.8;
}
.sitenav__link:active {
    opacity: 0.4;
}

/* MAIN */

/* Hero */

.hero {
    padding: 125px 0 125px 85px;
    margin-bottom: 168px;
    min-height: 450px;
    background-image: url("../images/Coffe_main.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}
.hero__title {
    margin: 0;
    margin-bottom: 32px;
    max-width: 486px;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 90px;
    color: #FEFCF7;
}
.hero__desc {
    margin: 0;
    max-width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

/*  Main middle */

.main-middle {
    background: #2C343E;
    min-height: 653px;
    border-radius: 15px;
}
.divider {
    padding: 100px 85px 67px;
    display: flex;
    align-items: center;
}
.divider__circle {
    width: 30px;
    height: 30px;
    border: 4px solid #0E8784;
    border-radius: 15px;
    display: inline-block;
}
.divider__line {
    width: 380px;
    height: 0px;
    border: 1px solid #FDD6BA;
    display: inline-block;
}

.holder__list {
    margin: 0;
    padding: 0 85px;
    display: flex; justify-content: space-between;
}
.holder__item {
    max-width: 270px;
}
.holder__item-number {
    margin: 0;
    margin-bottom: 38px;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 72px;
    color: #FDD6BA;
}
.holder__item-title {
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 36px;
    color: #FEFCF7;
}
.holder__desc {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/* Main order */

.main-order {
    padding: 168px 85px 88px;
    display: flex;
}

/* Main order-left */

.order {
    padding-right: 125px;
}
.order-list {
    padding: 0;
    margin: 0;
    max-width: 255px;
    list-style: none;
}
.order-inner {
    display: flex;
    align-items: center;
    opacity: 0.4;
}
.order-inner:before {
    opacity: 0.6;
}
.order-inner:active {
    opacity: 1;
}
.order-number {
    margin: 0;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-right: 26px;
}
.order-number--color {
    color: #0E8784
    ;
}
.order-link {
    text-decoration: none;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    cursor: pointer;
}
.order-title {
    margin: 0;
}
.order-divider {
    margin: 24px 0;
    width: 255px;
    height: 1px;
    background: #83888F;
    mix-blend-mode: normal;
    opacity: 0.25;
    display: block;
}

/* Main order-right */

.orders {
    margin-bottom: 88px;
    width: 730px;
}
.orders__top {
    padding-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.orders__top-caption {
    margin: 0;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
}
.orders__top-caption::after {
    content: "";
    width: 18px;
    height: 12px;
    background-image: url("../images/Top.png");
    color: #0E8784;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.form {
    position: relative;
}
.orders__form  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input:checked + .orders__bootom {
    background-color: #0E8784;
}
.orders__bootom {
    padding: 32px 28px;
    width: 230px;
    min-height: 250px;
    background: #F4F1EB;
    border-radius: 8px;
    transition: background-color 0.4s;
    cursor: pointer;
}
.orders__bootom:hover {
    background-color: #FDD6BA;
}
.orders__bottom-subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.orders__bottom-desc {
    margin: 0;
    line-height: 26px;
    color: #333D4B;
}

/* Main order-right-bottom */

.main-bottom {
    margin-bottom: 40px;
    padding: 31px 64px;
    width: 730px;
    min-height: 208px;
    background-color: #2C343E;
    border-radius: 8px;
}
.main-bottom-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.main-bottom-desc {
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFF;
}
.main-span {
    color: #0E8784;
}
.site__btn {
    padding: 16px 36px;
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #66D2CF;
    color: #FEFCF7;
    border: none;
    border-radius:8px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

/* FOOTER */

.footer-wrapper {
    padding: 0 85px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C343E;
}
.footer-logo-link {
    display: flex;
    margin-right: 103px;
}
.sitenav-footer {
    width: 772px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icon-link + .footer-icon-link {
    margin-left: 24px;
}